.footer__link {
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.5s;
  font-size: 16px;
  line-height: 18px;
  transition: 0.3s ease;
}
.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .footer__link {
    margin-bottom: 33px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
  }
  .footer__list-item:last-child {
    margin-bottom: 0;
  }
}
