.place__paragraph {
  padding: 0;
  margin: 0 0 26px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    max-width: calc(100% - 2*16px);
    padding-left: 16px;
  }
}
