.intro {
  width: calc(100% - 148px * 2);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 92px;
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 48px * 2);
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 24px * 2);
  }
}
@media screen and (max-width: 320px) {
  .intro {
    margin-bottom: 64px;
    width: calc(100% - 16px * 2);
  }
}
