.cover {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  padding: 0;
  margin-top: 91px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
/* 768 */
@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 480px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}

