.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: start;
  gap: 48px 40px;
  margin: 0;
  margin-top: 80px;
  padding: 0;
}
.place:last-child {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    max-width: 768px;
    row-gap: 45px;
  }
}

@media screen and (max-width: 480px) {
  .place {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 0;
  }
}
