.intro__title {
  font-size: 54px;
  color: #ffffff;
  line-height: 58px;
  font-weight: 900;
  margin: 0 0 43px 0;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
